.right-col {
    padding-right: 15px;
}

.glyphicon {
    font-size: 110%;
}

.track {
    font-weight: bold;
    font-size: 150%;
}

.artist {
    font-size: 140%;
}

.album {
    font-size: 140%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #f5f5f5;
  }

.keen-dashboard .chart-wrapper {
    margin-bottom: 15px;
}